<div class="container-fluid my-4">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <div class="row">
        <div class="col-2">
          <div class="row">
            @for (img of product?.images; track $index) {
            <div class="col-12 mb-2">
              <img
                class="img-fluid"
                width="600"
                height="600"
                src="assets/img/{{ img }}"
                (click)="displaySelectedImg(img)"
                [ngClass]="{
                  'border-highlight': displayProductImg === img
                }"
              />
            </div>
            }
          </div>
        </div>
        <div class="col-10">
          <img
            class="img-fluid"
            width="700"
            height="700"
            src="assets/img/{{ displayProductImg }}"
          />
        </div>
      </div>
    </div>
    <div class="col col-sm-12 col-lg-4 mt-4 mt-md-0">
      <small>{{ product?.description }}</small>
      <div class="mt-4">
        <span [createRatingStars]="product?.rating || 0">
          <span> </span>
        </span>
      </div>
      <div class="mt-4">
        <span class="me-4" style="font-size: 19px; font-weight: bold">{{
          product?.price || 0 | discountPricePipe : product?.discount || 0
        }}</span
        ><span
          class="text-decoration-line-through me-4"
          style="color: #fb7701"
          >{{ product?.price || 0 | currency }}</span
        ><span class="me-4" style="color: #fb7701"
          >{{ product?.discount }}% off</span
        >
      </div>
      <div class="mt-4"><small style="font-weight: bold">Colors:</small></div>
      <div class="d-flex mt-2">
        @for (color of product?.colors; track $index) {
        <div class="d-flex flex-column me-2">
          <img
            class="img-fluid"
            width="800"
            height="800"
            src="assets/img/{{ color.img }}"
            style="width: 84.6px"
            (click)="setCartItemImg(color.img, color.name)"
            [ngClass]="{
              'border-highlight': cartItem.img === color.img
            }"
          /><small>{{ color.name }}</small>
        </div>
        }
      </div>
      <div class="mt-4">
        <small style="font-weight: bold">Sizes:</small>

        <div class="mt-2">
          @for (size of product?.sizes; track $index) {
          <button
            class="btn btn-sm text-center me-2 mb-2"
            type="button"
            style="
              color: var(--bs-black);
              background: var(--bs-light);
              border-radius: 50%;
              border-color: grey;
              width: 44.7px;
              height: 44.7px;
              padding: 0;
              font-weight: bold;
            "
            (click)="setCartItemSize(size)"
            [ngClass]="{
              'border-highlight': cartItem.size === size
            }"
          >
            {{ size }}
          </button>
          }
        </div>
      </div>
      <div class="mt-4">
        <small class="me-2 fw-bold">Qty:</small>
        <select
          class="form-select fw-bold d-inline-block"
          style="width: 5rem; border: 1px solid gray"
          name="qty"
          [(ngModel)]="cartItem.qty"
        >
          <option *ngFor="let qty of qtyList" [value]="qty">
            {{ qty }}
          </option>
        </select>
      </div>
      <button
        class="btn btn-primary mt-4 w-100"
        type="button"
        style="background: #fb7701; font-weight: bold; border-style: none"
        (click)="addItemToCart()"
      >
        Add To Cart
      </button>
    </div>
  </div>
</div>
